html
  head
    title PDF Express
    style.
      body { margin: 30px; background: Aquamarine; font: 30px/1.5 "Futura"; display: flex; }
      header { margin-right: 80px; }
      ul { list-style: none; padding-left: 0; }
  body
    header
    p
    | This is a Test!
